.gradle/
.idea/
.kotlin/
build/
**/build/
local.properties
*.iml

# Kotlin/Native
.konan/

.DS_Store

CustomReactNativeChatSdk/node_modules/
CustomReactNativeChatSdk/android/build/
CustomReactNativeChatSdk/ios/build/
